@model RezaWeb.Mvc.Models.RegistrantInfo

@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<p class="text-danger">@ViewBag.ErrorMessage</p>
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>Info Pelamar</legend>

		@Html.HiddenFor(model => model.RegistrantInfoId)

		
		<div class="form-group">
			@Html.LabelFor(model => model.UserProfile.UserName)
		
			<div>
				@*@Html.EditorFor(model => model.UserProfile.UserName)*@
				@Html.TextBoxFor(x=>x.UserProfile.UserName, new{disabled=""})
				@Html.ValidationMessageFor(model => model.UserProfile.UserName, string.Empty, new {@class = "help-block"})
			</div> 
		</div>

		
		<div class="form-group">
			@Html.LabelFor(model => model.Name)
		
			<div>
				@Html.EditorFor(model => model.Name)
				@Html.ValidationMessageFor(model => model.Name, string.Empty, new {@class = "help-block"})
			</div> 
		</div>

		
		<div class="form-group">
			@Html.LabelFor(model => model.Sex)
		
			<div>
				@Html.EditorFor(model => model.Sex)
				@Html.ValidationMessageFor(model => model.Sex, string.Empty, new {@class = "help-block"})
			</div> 
		</div>

		
		<div class="form-group">
			@Html.LabelFor(model => model.BirthPlace)
		
			<div>
				@Html.EditorFor(model => model.BirthPlace)
				@Html.ValidationMessageFor(model => model.BirthPlace, string.Empty, new {@class = "help-block"})
			</div> 
		</div>

		
		<div class="form-group">
			@Html.LabelFor(model => model.BirthDate)
		
			<div>
				@*@Html.EditorFor(model => model.BirthDate)*@
				@Html.TextBoxFor(x => x.BirthDate, new {@class = "date"})
				@Html.ValidationMessageFor(model => model.BirthDate, string.Empty, new {@class = "help-block"})
			</div> 
		</div>

		
		<div class="form-group">
			@Html.LabelFor(model => model.Address)
		
			<div>
				@Html.EditorFor(model => model.Address)
				@Html.ValidationMessageFor(model => model.Address, string.Empty, new {@class = "help-block"})
			</div> 
		</div>
		
		<div class="form-group">
			@Html.LabelFor(model => model.ExamNumber)
			
			<div>
				@Html.EditorFor(model => model.ExamNumber)
				@Html.ValidationMessageFor(model => model.ExamNumber, string.Empty, new {@class = "help-block"})
			</div>
		</div>

		<div class="form-group">			
			<input type="submit" value="Save" class="btn btn-primary" />			
		</div>
	</fieldset>
}

<div>
	@Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script>
		$.validator.setDefaults({
			highlight: function(element) {
				$(element).closest(".control-group").addClass("error");
			},
			unhighlight: function(element) {
				$(element).closest(".control-group").removeClass("error");
			}
		});

		$(document).ready(function() {
			$('.date').datepicker({ dateFormat: "mm/dd/yy" });
		});
	</script>
}
